<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="flikr_pagination">
  <%= will_paginate @students, :container => false %>
</div>

<div class="container">
  <% @students.each do |student| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to student.studname, student %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to gravatar_for(student, size: 150), student %>
            </h5>
            <p class="card-text"><%= pluralize(student.articles.count, "article") %></p>
            <%= link_to "View profile", student, class: "btn btn-outline-success" %>
            <% if logged_in? %>
              <% if student == current_student %>
                <%= link_to "Edit profile", edit_student_path(student), class: "btn btn-outline-info" %>
              <% end %>
              <% if current_student.admin? %>
                <%= link_to "Delete profile", student_path(student), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete the student account and all associated articles?"} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(student.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flikr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>