<h1 class="text-center mt-4"><%= @student.studname %>'s profile</h1>

<%= gravatar_for @student, size: 200 %>

<% if logged_in? && @student == current_student %>
  <div class="text-center mt-4">
  	<%= link_to "Edit your profile", edit_student_path(@student), class: "btn btn-outline-info" %>
  </div>
<% end %>

<h3 class="text-center mt-4">Articles</h3>

<div class="flikr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flikr_pagination mb-3">
  <%= will_paginate @articles, :container => false %>
</div>
